// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WashlySDK from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthClient {
    protected readonly _options: NormalizedClientOptions<AuthClient.Options>;

    constructor(options: AuthClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {WashlySDK.LoginRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.login({
     *         phone: "phone",
     *         password: "password"
     *     })
     */
    public login(
        request: WashlySDK.LoginRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<WashlySDK.LoginResponse> {
        return core.HttpResponsePromise.fromPromise(this.__login(request, requestOptions));
    }

    private async __login(
        request: WashlySDK.LoginRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<WashlySDK.LoginResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/auth/login",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WashlySDK.LoginResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/auth/login");
    }

    /**
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.session()
     */
    public session(requestOptions?: AuthClient.RequestOptions): core.HttpResponsePromise<WashlySDK.SessionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__session(requestOptions));
    }

    private async __session(
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<WashlySDK.SessionResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/auth/session",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WashlySDK.SessionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/auth/session");
    }

    /**
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.logout()
     */
    public logout(requestOptions?: AuthClient.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__logout(requestOptions));
    }

    private async __logout(
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/auth/logout",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/auth/logout");
    }

    /**
     * @param {WashlySDK.ForgotPasswordRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.forgotPassword({
     *         phone: "phone",
     *         email: "email"
     *     })
     */
    public forgotPassword(
        request: WashlySDK.ForgotPasswordRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<WashlySDK.ForgotPasswordResponse> {
        return core.HttpResponsePromise.fromPromise(this.__forgotPassword(request, requestOptions));
    }

    private async __forgotPassword(
        request: WashlySDK.ForgotPasswordRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<WashlySDK.ForgotPasswordResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/auth/forgot-password",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WashlySDK.ForgotPasswordResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/auth/forgot-password");
    }

    /**
     * @param {WashlySDK.ResetPasswordRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.resetPassword({
     *         token: "token",
     *         new_password: "new_password"
     *     })
     */
    public resetPassword(
        request: WashlySDK.ResetPasswordRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<WashlySDK.ResetPasswordResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resetPassword(request, requestOptions));
    }

    private async __resetPassword(
        request: WashlySDK.ResetPasswordRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<WashlySDK.ResetPasswordResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/auth/reset-password",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WashlySDK.ResetPasswordResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/auth/reset-password");
    }
}
