// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WashlySDK from "../../../index.js";

export declare namespace ShopsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ShopsClient {
    protected readonly _options: NormalizedClientOptions<ShopsClient.Options>;

    constructor(options: ShopsClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {WashlySDK.GetNearbyShopsApiV1ShopsNearbyGetRequest} request
     * @param {ShopsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.shops.getNearbyShops()
     */
    public getNearbyShops(
        request: WashlySDK.GetNearbyShopsApiV1ShopsNearbyGetRequest = {},
        requestOptions?: ShopsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getNearbyShops(request, requestOptions));
    }

    private async __getNearbyShops(
        request: WashlySDK.GetNearbyShopsApiV1ShopsNearbyGetRequest = {},
        requestOptions?: ShopsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { latitude, longitude, address, date, service } = request;
        const _queryParams: Record<string, unknown> = {
            latitude,
            longitude,
            address,
            date,
            service,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/shops/nearby",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/shops/nearby");
    }

    /**
     * @param {WashlySDK.GetShopBundlesApiV1ShopsShopIdBundlesGetRequest} request
     * @param {ShopsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.shops.getShopBundles({
     *         shop_id: "shop_id"
     *     })
     */
    public getShopBundles(
        request: WashlySDK.GetShopBundlesApiV1ShopsShopIdBundlesGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getShopBundles(request, requestOptions));
    }

    private async __getShopBundles(
        request: WashlySDK.GetShopBundlesApiV1ShopsShopIdBundlesGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { shop_id: shopId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/shops/${core.url.encodePathParam(shopId)}/bundles`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/shops/{shop_id}/bundles",
        );
    }

    /**
     * @param {WashlySDK.GetShopBookingsApiV1ShopsShopIdBookingsGetRequest} request
     * @param {ShopsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.shops.getShopBookings({
     *         shop_id: "shop_id"
     *     })
     */
    public getShopBookings(
        request: WashlySDK.GetShopBookingsApiV1ShopsShopIdBookingsGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getShopBookings(request, requestOptions));
    }

    private async __getShopBookings(
        request: WashlySDK.GetShopBookingsApiV1ShopsShopIdBookingsGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { shop_id: shopId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/shops/${core.url.encodePathParam(shopId)}/bookings`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/shops/{shop_id}/bookings",
        );
    }

    /**
     * @param {WashlySDK.GetShopApiV1ShopsShopIdGetRequest} request
     * @param {ShopsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.shops.getShop({
     *         shop_id: "shop_id"
     *     })
     */
    public getShop(
        request: WashlySDK.GetShopApiV1ShopsShopIdGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getShop(request, requestOptions));
    }

    private async __getShop(
        request: WashlySDK.GetShopApiV1ShopsShopIdGetRequest,
        requestOptions?: ShopsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { shop_id: shopId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/shops/${core.url.encodePathParam(shopId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/shops/{shop_id}");
    }
}
