// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WashlySDK from "../../../index.js";

export declare namespace BookingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BookingsClient {
    protected readonly _options: NormalizedClientOptions<BookingsClient.Options>;

    constructor(options: BookingsClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {WashlySDK.CreateBookingRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.bookings.createBooking({
     *         shop_name: "shop_name",
     *         service: "service",
     *         date: "date",
     *         time: "time"
     *     })
     */
    public createBooking(
        request: WashlySDK.CreateBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createBooking(request, requestOptions));
    }

    private async __createBooking(
        request: WashlySDK.CreateBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/bookings",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/bookings");
    }

    /**
     * @param {WashlySDK.GetBookingsByPhoneApiV1BookingsByPhonePhoneGetRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.bookings.getBookingsByPhone({
     *         phone: "phone"
     *     })
     */
    public getBookingsByPhone(
        request: WashlySDK.GetBookingsByPhoneApiV1BookingsByPhonePhoneGetRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getBookingsByPhone(request, requestOptions));
    }

    private async __getBookingsByPhone(
        request: WashlySDK.GetBookingsByPhoneApiV1BookingsByPhonePhoneGetRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { phone } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/bookings/by-phone/${core.url.encodePathParam(phone)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/bookings/by-phone/{phone}",
        );
    }

    /**
     * @param {WashlySDK.CancelBookingApiV1BookingsRefDeleteRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.bookings.cancelBooking({
     *         ref: "ref"
     *     })
     */
    public cancelBooking(
        request: WashlySDK.CancelBookingApiV1BookingsRefDeleteRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__cancelBooking(request, requestOptions));
    }

    private async __cancelBooking(
        request: WashlySDK.CancelBookingApiV1BookingsRefDeleteRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { ref } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/bookings/${core.url.encodePathParam(ref)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/bookings/{ref}");
    }

    /**
     * @param {WashlySDK.RescheduleRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WashlySDK.UnprocessableEntityError}
     *
     * @example
     *     await client.bookings.rescheduleBooking({
     *         ref: "ref",
     *         new_date: "new_date",
     *         new_time: "new_time"
     *     })
     */
    public rescheduleBooking(
        request: WashlySDK.RescheduleRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__rescheduleBooking(request, requestOptions));
    }

    private async __rescheduleBooking(
        request: WashlySDK.RescheduleRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { ref, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/bookings/${core.url.encodePathParam(ref)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WashlySDK.UnprocessableEntityError(
                        _response.error.body as WashlySDK.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WashlySDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/v1/bookings/{ref}");
    }
}
